#header{
    height: 7em;
    line-height: 7em;
}
/* logo样式 */
#header>a{
    width: 12%;
}
#header>a>img{
    width: 70%;
}
/* 导航栏样式 */
#header>ul{
    width: 48%;
}
#header>ul>li>a:hover,#header>#search>a:hover{
    color: #c00;
}
/* 搜索样式 */
#header>#search{
    width: 28%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#header>#search>input,button{  /*搜素框样式*/
    width: 65%;
    outline: 0;
    height: 2.5em;
    border: 1px solid #c00;
    font-size: 0.8em;
}
#header>#search>button{
    width: 15%;
    background: #c00;
    color: white;
    cursor: pointer;
}