/* 最外层图片背景 */
#register>div{
    position: relative;
    height: 520px;
    background: url("../img/register/bg_register.png") no-repeat;
}
/* 白色区域样式 */
#register>div>ul{
    width: 320px;
    position: absolute;
    top: 7%;
    right: 15%;
}
/* 注册文本及输入框基本样式 */
#register ul>li{
    width: 90%;
    height: 10%;
    margin: 0 auto 1.5rem;
    border: 1px solid #eee;
}
/* 输入框样式 */
#register ul>li.name>input,ul>li.phone>input,ul>li.pwd1>input,ul>li.pwd2>input,ul>li.reg_btn>input{
    border: 0;
    outline: 0;
    width: 80%;
    height: 100%;
    font-size: 14x;
}
/* 第一行样式 */
#register ul>li:first-child>span:first-child{
    font-weight: bold;
    font-size: 18px;
}
#register ul>li:first-child>a:hover,ul>li.agree>span>a:hover{
    color: red;
    opacity: 1;
}
/* 图片样式 */
#register ul>li>img{
    margin: 0 0.8em 0 0.8em;
}
/*警告消息样式*/
#register ul>li>div{
    color: red;
}
#register ul>li>div>img{
    vertical-align: baseline;
}
/* 条款样式 */
#register ul>li.agree{
    height: 5%;
    border: 0;
    text-align: right;
}
/* 注册按钮样式 */
#register ul>li:last-child>input{
    width: 100%;
    padding: 0.5em 0 0.5em 0;
    background: #c00;
    font-size: 16px;
    color: #fff;
    opacity: 0.9;
}
#register ul>li:last-child>input:hover{
    opacity: 1;
    cursor: pointer;
}
/* 页脚定位 */
/* #footer{
    position: absolute;
    bottom: 0;
} */